* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

@font-face {
	font-family: 'handwriting';
	src: url('fonts/journal-webfont.woff2') format('woff2'), url('fonts/journal-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'typewriter';
	src: url('veteran_typewriter-webfont.woff2') format('woff2'), url('veteran_typewriter-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 21px sans-serif;
	padding: 2em;
	margin: 0;
	background: url(images/BAck1.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/BAck1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	height: 100vh;
	overflow: hidden;


}

form {
	position: relative;
	width: 740px;
	height: 498px;
	margin: 0 auto;
	background: #FFF url(images/background.jpg);
}

.back-icon a .fa{
	font-size: 30px;
	color: #fff;
}

h1 {
	font: 1em "typewriter", sans-serif;
}

#from {
	position: absolute;
	left: 398px;
	top: 235px;
}

#reply {
	position: absolute;
	left: 390px;
	top: 285px;
}

#message {
	position: absolute;
	left: 20px;
	top: 70px;
}

label {
	font: .8em "typewriter", sans-serif;
}

input,
textarea {
	font: .9em/1.5em "handwriting", sans-serif;
	border: none;
	padding: 0 10px;
	margin: 0;
	width: 240px;
	background: none;
}

input:focus,
textarea:focus {
	background: rgba(0, 0, 0, 0);
	border-radius: 4px;
	outline: none;
}

input {
	height: 2.5em;
	/* for IE */
	vertical-align: middle;
	/* This is optional but it makes legacy IEs look better */
}

textarea {
	display: block;
	padding: 10px;
	margin: 10px 0 0 -10px;
	width: 340px;
	height: 360px;
	resize: none;
	overflow: auto;
}

button {
	position: absolute;
	left: 440px;
	top: 360px;

	padding: 5px;

	font: bold .6em sans-serif;
	border: 2px solid #333;
	border-radius: 5px;
	background: none;

	cursor: pointer;

	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	-ms-transform: rotate(-1.5deg);
	-o-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg);
}

button:after {
	content: " >>>";
}

button:hover,
button:focus {
	outline: none;
	background: #000;
	color: #FFF;
}

.input-query {
	display: block;
}

.footer {
	background-color: #000;
	width: 100%;
	bottom: 0;
	height: auto;
	top: 100vh;
	position: sticky;
	overflow: hidden;
}

.top-20 {
	top: 20px;
}

.left-20 {
	left: 20vw;
}

.footer-logo {
	height: 150px;
	width: auto;
	top: 20px;
	cursor: pointer;
}

.footer h1 {
	color: #d1cb77;
	font-family: 'Shadows Into Light', cursive;
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 2px;
	font-size: x-large;
	position: relative;
	text-decoration: none;
}

h3 {
	color: #d1cb77;
	font-family: 'Shadows Into Light', cursive;
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 1px;
	font-size: medium;
	position: relative;
	text-decoration: none;
}



.Social-Icons ul {
	display: flex;
	position: relative;
}

.Social-Icons ul li {
	list-style: none;
	margin: 5px;
	text-align: center;
}

.Social-Icons ul li a {
	width: 45px;
	height: 45px;
	background: #fff;
	text-align: center;
	align-content: center;
	font-size: 35px;
	line-height: 38px;
	margin: 0 6px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 3;
}

.Social-Icons ul li a .fa {
	position: relative;
	transition: .5s;
	color: #262626;
}

.Social-Icons ul li a:hover .fa {
	transform: rotateY(360deg);
	color: #fff;
	z-index: 3;
}

.Social-Icons ul li a:before {
	content: '';
	top:100%;
	position: absolute;
	left: 0;
	color: #262626;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: .5s;
	z-index: 2;
}	

.Social-Icons ul li:nth-child(1) a:hover {
	background: #3b5998;
}

.Social-Icons ul li:nth-child(2) a:hover {
	background: #e4405f;
}

.Social-Icons ul li:nth-child(3) a:hover {
	background: #dd4b39;
}

.Social-Icons ul li:nth-child(4) a:hover {
	background: #AD5C51;
}

.Social-Icons ul li:nth-child(5) a:hover {
	background: #0077b5;
}